<a href="https://colab.research.google.com/github/izzymercer/izzymercer.github.io/blob/main/map2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import requests, pandas as pd

In [53]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_average_yearly_temperature')

In [44]:
df = pd.read_json('temp.json')

In [55]:
print(df)

[              Country Average yearly temperature (1961–1990 Celsius)
0        Burkina Faso                                          28.29
1                Mali                                          28.25
2            Kiribati                                          28.20
3            Djibouti                                          28.00
4            Maldives                                          28.00
..                ...                                            ...
187   Norway [note 1]                                          01.50
188           Iceland                                          −0.70
189  Denmark [note 2]                                          −3.70
190            Canada                                          −5.10
191            Russia                                          −5.35

[192 rows x 2 columns]]

In [48]:
countries_to_keep = ['Western Sahara','Egypt', 'Equatorial Guinea', 'Eritrea', 'Libya', 'Morocco', 'Mauritania', 'Somalia', 'Democratic Republic of the Congo', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Tunisia', 'Western Sahara', 'Gabon',  'Eswatini', 'Algeria', 'Comoros', 'Democratic Republic of the Congo', 'Cameroon', 'Angola', 'Benin', 'Burundi', 'Ghana','Liberia', 'Mozambique', 'Sierra Leone', 'South Sudan', 'Togo', 'Uganda', 'Zambia',  'Senegal', 'Ethiopia', 'Lesotho', 'Mali', 'Zimbabwe', 'Namibia', 'Central African Republic', 'Eswatini', 'Gambia',  'Guinea', 'Madagascar', 'Nigeria', 'Botswana', 'Chad', 'Cabo Verde', 'Kenya', 'Mauritius', 'Malawi', 'Rwanda']

mask = df['country'].isin(countries_to_keep)

filtered_df = df[mask]

print(filtered_df)

                              country  yearly-average-temp
2                             Algeria                22.50
4                              Angola                21.55
18                              Benin                27.55
22                           Botswana                21.50
27                            Burundi                19.80
29                           Cameroon                24.60
32           Central African Republic                24.90
33                               Chad                26.55
37                            Comoros                25.55
38   Democratic Republic of the Congo                24.00
51                              Egypt                22.10
53                  Equatorial Guinea                24.55
54                            Eritrea                25.50
56                           Ethiopia                22.20
60                              Gabon                25.05
64                              Ghana                27.20
68                             Guinea                25.70
87                              Kenya                24.75
96                            Lesotho                11.85
97                            Liberia                25.30
98                              Libya                21.80
103                        Madagascar                22.65
104                            Malawi                21.90
107                              Mali                28.25
110                        Mauritania                27.65
111                         Mauritius                22.40
118                           Morocco                17.10
119                        Mozambique                23.80
121                           Namibia                19.95
127                           Nigeria                26.80
142                            Rwanda                17.85
150                           Senegal                27.85
153                      Sierra Leone                26.05
158                           Somalia                27.05
159                      South Africa                17.75
162                             Sudan                26.90
169                          Tanzania                22.35
171                              Togo                27.15
174                           Tunisia                19.20
178                            Uganda                22.80
189                            Zambia                21.40
190                          Zimbabwe                21.00

In [49]:
filtered_df

                              country  yearly-average-temp
2                             Algeria                22.50
4                              Angola                21.55
18                              Benin                27.55
22                           Botswana                21.50
27                            Burundi                19.80
29                           Cameroon                24.60
32           Central African Republic                24.90
33                               Chad                26.55
37                            Comoros                25.55
38   Democratic Republic of the Congo                24.00
51                              Egypt                22.10
53                  Equatorial Guinea                24.55
54                            Eritrea                25.50
56                           Ethiopia                22.20
60                              Gabon                25.05
64                              Ghana                27.20
68                             Guinea                25.70
87                              Kenya                24.75
96                            Lesotho                11.85
97                            Liberia                25.30
98                              Libya                21.80
103                        Madagascar                22.65
104                            Malawi                21.90
107                              Mali                28.25
110                        Mauritania                27.65
111                         Mauritius                22.40
118                           Morocco                17.10
119                        Mozambique                23.80
121                           Namibia                19.95
127                           Nigeria                26.80
142                            Rwanda                17.85
150                           Senegal                27.85
153                      Sierra Leone                26.05
158                           Somalia                27.05
159                      South Africa                17.75
162                             Sudan                26.90
169                          Tanzania                22.35
171                              Togo                27.15
174                           Tunisia                19.20
178                            Uganda                22.80
189                            Zambia                21.40
190                          Zimbabwe                21.00

In [50]:
exported_values = list(filtered_df.T.to_dict().values() )

In [51]:
open('temp_data2.json', 'w').write( json.dumps(exported_values))

2294